# DATA PRE-PROCESSING

In [3]:
import pandas as pd
import numpy as np

In [4]:
import warnings
warnings.filterwarnings('ignore')

In [5]:
data=pd.read_csv('Maternal_Health.csv')

In [6]:
data.head(10)

   Age  SystolicBP  DiastolicBP     BS  BodyTemp  HeartRate  RiskLevel
0   25         130           80  15.00      98.0         86  high risk
1   35         140           90  13.00      98.0         70  high risk
2   29          90           70   8.00     100.0         80  high risk
3   30         140           85   7.00      98.0         70  high risk
4   35         120           60   6.10      98.0         76   low risk
5   23         140           80   7.01      98.0         70  high risk
6   23         130           70   7.01      98.0         78   mid risk
7   35          85           60  11.00     102.0         86  high risk
8   32         120           90   6.90      98.0         70   mid risk
9   42         130           80  18.00      98.0         70  high risk

In [7]:
data.shape

(1014, 7)

In [8]:
data.size

7098

In [9]:
data.isnull().sum()

Age            0
SystolicBP     0
DiastolicBP    0
BS             0
BodyTemp       0
HeartRate      0
RiskLevel      0
dtype: int64

In [10]:
df=data.dropna()

In [11]:
df

      Age  SystolicBP  DiastolicBP    BS  BodyTemp  HeartRate  RiskLevel
0      25         130           80  15.0      98.0         86  high risk
1      35         140           90  13.0      98.0         70  high risk
2      29          90           70   8.0     100.0         80  high risk
3      30         140           85   7.0      98.0         70  high risk
4      35         120           60   6.1      98.0         76   low risk
...   ...         ...          ...   ...       ...        ...        ...
1009   22         120           60  15.0      98.0         80  high risk
1010   55         120           90  18.0      98.0         60  high risk
1011   35          85           60  19.0      98.0         86  high risk
1012   43         120           90  18.0      98.0         70  high risk
1013   32         120           65   6.0     101.0         76   mid risk

[1014 rows x 7 columns]

In [12]:
df.shape

(1014, 7)

In [13]:
df.size

7098

In [14]:
df['RiskLevel'].unique()

array(['high risk', 'low risk', 'mid risk'], dtype=object)

In [15]:
df[data['RiskLevel']=='high risk']

      Age  SystolicBP  DiastolicBP     BS  BodyTemp  HeartRate  RiskLevel
0      25         130           80  15.00      98.0         86  high risk
1      35         140           90  13.00      98.0         70  high risk
2      29          90           70   8.00     100.0         80  high risk
3      30         140           85   7.00      98.0         70  high risk
5      23         140           80   7.01      98.0         70  high risk
...   ...         ...          ...    ...       ...        ...        ...
1008   48         120           80  11.00      98.0         88  high risk
1009   22         120           60  15.00      98.0         80  high risk
1010   55         120           90  18.00      98.0         60  high risk
1011   35          85           60  19.00      98.0         86  high risk
1012   43         120           90  18.00      98.0         70  high risk

[272 rows x 7 columns]

In [16]:
df[data['RiskLevel']=='mid risk']

      Age  SystolicBP  DiastolicBP     BS  BodyTemp  HeartRate RiskLevel
6      23         130           70   7.01      98.0         78  mid risk
8      32         120           90   6.90      98.0         70  mid risk
11     19         120           80   7.00      98.0         70  mid risk
13     20         120           75   7.01     100.0         70  mid risk
14     48         120           80  11.00      98.0         88  mid risk
...   ...         ...          ...    ...       ...        ...       ...
872    17          85           60   9.00     102.0         86  mid risk
873    19         120           80   7.00      98.0         70  mid risk
874    20         110           60   7.00     100.0         70  mid risk
875    32         120           65   6.00     101.0         76  mid risk
1013   32         120           65   6.00     101.0         76  mid risk

[336 rows x 7 columns]

In [17]:
df[data['RiskLevel']=='low risk']

     Age  SystolicBP  DiastolicBP    BS  BodyTemp  HeartRate RiskLevel
4     35         120           60  6.10      98.0         76  low risk
10    23          90           60  7.01      98.0         76  low risk
12    25         110           89  7.01      98.0         77  low risk
15    15         120           80  7.01      98.0         70  low risk
19    10          70           50  6.90      98.0         70  low risk
..   ...         ...          ...   ...       ...        ...       ...
949   59         120           80  7.50      98.0         70  low risk
950   23         120           80  7.50      98.0         70  low risk
951   17          85           60  7.50     102.0         86  low risk
952   32         120           90  7.50      98.0         70  low risk
953   42         120           80  7.50      98.0         70  low risk

[406 rows x 7 columns]

In [18]:
df.columns

Index(['Age', 'SystolicBP', 'DiastolicBP', 'BS', 'BodyTemp', 'HeartRate',
       'RiskLevel'],
      dtype='object')

In [21]:
np.sort(df['Age'].unique())

array([10, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27,
       28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44,
       45, 46, 48, 49, 50, 51, 54, 55, 56, 59, 60, 62, 63, 65, 66, 70],
      dtype=int64)

In [22]:
a=df['SystolicBP'].unique()
a.sort()
print(a)

[ 70  75  76  78  80  83  85  90  95  99 100 110 115 120 129 130 135 140
 160]

In [23]:
df['DiastolicBP'].nunique()

16

In [24]:
print('Maximum Blood Sugar Level:',df['BS'].max())
print('Minimum Blood Sugar Level:',df['BS'].min())
print('Mean Of Blood Sugar Level','%.2f'%df['BS'].mean())
print('Median Of Blood Sugar Level','%.2f'%df['BS'].median())
print('Mode of Blood Sugar Level','%.2f'%df['BS'].mode())

Maximum Blood Sugar Level: 19.0
Minimum Blood Sugar Level: 6.0
Mean Of Blood Sugar Level 8.73
Median Of Blood Sugar Level 7.50
Mode of Blood Sugar Level 7.50

In [26]:
df.describe()

,Age,SystolicBP,DiastolicBP,BS,BodyTemp,HeartRate
count,1014.000000,1014.000000,1014.000000,1014.000000,1014.000000,1014.000000
mean,29.871795,113.198225,76.460552,8.725986,98.665089,74.301775
std,13.474386,18.403913,13.885796,3.293532,1.371384,8.088702
min,10.000000,70.000000,49.000000,6.000000,98.000000,7.000000
25%,19.000000,100.000000,65.000000,6.900000,98.000000,70.000000
50%,26.000000,120.000000,80.000000,7.500000,98.000000,76.000000
75%,39.000000,120.000000,90.000000,8.000000,98.000000,80.000000
max,70.000000,160.000000,100.000000,19.000000,103.000000,90.000000

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1014 entries, 0 to 1013
Data columns (total 7 columns):
Age            1014 non-null int64
SystolicBP     1014 non-null int64
DiastolicBP    1014 non-null int64
BS             1014 non-null float64
BodyTemp       1014 non-null float64
HeartRate      1014 non-null int64
RiskLevel      1014 non-null object
dtypes: float64(2), int64(4), object(1)
memory usage: 63.4+ KB

In [32]:
pd.options.display.max_columns=0
pd.crosstab(df['RiskLevel'],df['Age'])

Age        10  12  13  14  15  16  17  18  ...  56  59  60  62  63  65  66  70
RiskLevel                                  ...
high risk   0   7   3   3   0   0  24   0  ...   1   0   7   0   2   1   0   0
low risk    2  15   2   0  56  10  18   8  ...   0   2  13   1   0   2   1   1
mid risk    2  13   7   0   4   6  21  11  ...   0   0  14   0   0   0   0   0

[3 rows x 50 columns]

In [33]:
pd.crosstab(df['RiskLevel'],df['BodyTemp'])

BodyTemp   98.0   98.4   98.6   99.0   100.0  101.0  102.0  103.0
RiskLevel
high risk    199      0      1      2      5     34     25      6
low risk     359      2      0      6      2     14     18      5
mid risk     246      0      0      2     13     50     23      2

In [34]:
pd.crosstab(df['RiskLevel'],df['HeartRate'])

HeartRate  7   60  65  66  67  68   70  75  76  77  78  80  82  86  88  90
RiskLevel
high risk   0  20   0  25   5   0   43   6  20  25   9  48   0  22  30  19
low risk    2  33   2  44   2   0  126   7  55  56   2  39  10   7  21   0
mid risk    0  21   3  18   5   2  102   6  56  15  35  30   9  26   8   0

In [35]:
pd.options.display.max_columns=100
pd.crosstab(df['RiskLevel'],df['BS'])

BS,6.00,6.10,6.30,6.40,6.50,6.60,6.70,6.80,6.90,7.00,7.01,7.10,7.20,7.50,7.60,7.70,7.80,7.90,8.00,9.00,10.00,11.00,12.00,13.00,15.00,16.00,17.00,18.00,19.00
RiskLevel,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
high risk,0,2,2,0,0,0,0,10,8,9,5,0,6,11,0,4,5,12,12,12,4,40,12,9,49,8,5,25,22
low risk,7,32,0,8,1,2,10,37,47,29,3,8,14,129,1,17,19,34,4,0,0,4,0,0,0,0,0,0,0
mid risk,14,19,0,2,0,0,23,41,58,41,7,0,0,36,0,3,21,14,6,19,0,8,6,0,5,9,0,4,0

In [36]:
pd.Categorical(df['RiskLevel']).describe()

            counts     freqs
categories
high risk      272  0.268245
low risk       406  0.400394
mid risk       336  0.331361

In [25]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
df['RiskLevel']=le.fit_transform(df['RiskLevel']).astype(int)

In [26]:
df.corr()

,Age,SystolicBP,DiastolicBP,BS,BodyTemp,HeartRate,RiskLevel
Age,1.000000,0.416045,0.398026,0.473284,-0.255323,0.079798,-0.211851
SystolicBP,0.416045,1.000000,0.787006,0.425172,-0.286616,-0.023108,-0.208797
DiastolicBP,0.398026,0.787006,1.000000,0.423824,-0.257538,-0.046151,-0.284633
BS,0.473284,0.425172,0.423824,1.000000,-0.103493,0.142867,-0.479958
BodyTemp,-0.255323,-0.286616,-0.257538,-0.103493,1.000000,0.098771,-0.006680
HeartRate,0.079798,-0.023108,-0.046151,0.142867,0.098771,1.000000,-0.111637
RiskLevel,-0.211851,-0.208797,-0.284633,-0.479958,-0.006680,-0.111637,1.000000